extends ../../includes/article_layout_fr

block title
    header
        h1 Near, Variations, 2018
block content
    p
        | Mise en page de l’essai
        i The body is just an entry point
        |  écrit par Flavia Gimenes à propos du travail de
        | la photographe Laura Aguilar. Publication annuelle des étudiants du programme Critical Writing du Royal College
        | of Art, promotion 2019.
        br
        | Chaque essai a été mis en page par un·e graphiste différent·e.
        br
        br
        | — Direction artistique: Tuomas Kortteinen
block picture
    picture
        source(media='(max-width: 1024px)', srcset='/assets/near_variation_640.jpg')
        source(media='(min-width: 600px)', srcset='/assets/near_variation_1024.jpg')
        img.article-img(src='/assets/near_variation_1024.jpg')
block variables
    - previous = '/en/marie_antoinette'
    - next = '/en/imagining_changes'
