doctype html
html(lang='fr')
    include head
    body
        #title-container
            h1#title
                | NINE
                br
                | PERRARD
            #sub-title-container
                #headline-container
                    #gdesign.sub-title Graphic Design
                    #adirection.sub-title Art Direction
                    #workshop.sub-title Workshop
                #contact
                    | nineperrard_at_gmail.com
                    br
                    a(href='https://www.instagram.com/nine_prd/') @nine_prd

