include common_en
#article-container
    .legend-container
        header
            h1  Dismissed narratives, 2019
        p
            | Multi-platform masters degree project aiming at publishing narratives that are to often discredited or
            | dismissed. Those stories have been anonymously collected and published
            | in the public space with stickers,
            i in situ
            |  projections and flyers. Together they give an overview
            |                of a generation struggling with their identity and equality of consideration.
            br
            |                See more
            a(href='https://www.instagram.com/dismissed_narratives/') @dismissed_narratives
            | .
            br
            br
            | — Project exhibited at the School of Communication WIP Show at the Royal College Art in 2019, at the RCA Final
            | Show in 2019 and at Riposte, June 2019 in collaboration with Eden Topall-Rabanne.
            | Sophie Tolhurst’s critical essay on seams and lack thereof. Design in collaboration with Yilin Wang
    .picture-container
        picture
            source(media='(max-width: 1024px)', srcset='/assets/dismissed_narratives_2_640.jpg')
            source(media='(min-width: 600px)', srcset='/assets/dismissed_narratives_2_1024.jpg')
            img.article-img(src='assets/dismissed_narratives_2_640.jpg')
        .arrow-container
            #left-arrow.arrow ⇜
            #right-arrow.arrow ⇝
