#title-container
    h1#title
        | NINE
        br
        | PERRARD
    #sub-title-container
        #headline-container
            #gdesign.sub-title Graphic Design
            #adirection.sub-title Art Direction
            #workshop.sub-title Workshop
